body {
	padding: 0;
	margin: 0 10%;
}
h1 {
	font-size: 40px;
}
h3 {
	font-size: 18px;
}
.place-time {
   background-color: rgba(241, 89, 18, 0.0);
   float: right;
   width: 140px;
   height: 40px;
   margin-right: 2.5%;
   margin-top: 1.5%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #fff;
}
.foto {
	float: left;
	width: 150px;
	margin-left: 3%;
	padding-top: 2%;
}
/*.mainscrin {
}*/

ul {
	list-style: none; /*убираем маркеры списка*/
	margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
	padding-left: 0; /*убираем левый отступ, равный 40px*/
}
a {
	/*text-decoration: none;*/
	text-transform: lowercase;
	color: rgb(43, 41, 41); /*убираем подчеркивание текста ссылок*/
}

  a:hover {
   background: #f56c11; /* Цвет фона под ссылкой */ 
   color: #ffe; /* Цвет ссылки */ 
  }
A:active {
	color: #be592a; /* Цвет активных ссылок */
}
.page-header {
	background: rgb(189, 189, 183);
	margin-bottom: 40px;
}
.boxname {
	margin: 0 30%;
	text-align: center;
	padding-top: 30px;
   color: #fff;
}
.boxnav {
	padding-top: 70px;
}
.list {
	color: rgb(248, 242, 242);
	font-size: 20px;
	list-style: none;
	margin: 0 0 0 0;
	padding: 15px 0 10px;
	text-align: center;
	background: rgb(118, 118, 119);
	word-spacing: 17px;
}

.list li {
	color: rgb(250, 245, 245);
	display: inline-block;
	text-decoration: none;
}
/*второй экран*/

.fotosize {
   width: 450px;
   height: 250px;
   margin: 0px 0px 5px 0px;
}
h2 {
	font-size: 30px;
	/*margin-bottom: 2em;*/
   margin: 0px 0px 10px 0px;
}
.map {
	float: right;
}

.boxcontacts {
	width: 100%;
	height: auto;
   min-height: 300px;
	text-align: center;
}

.boxcontacts li {
	margin-bottom: 1em;
	font-size: 22px;
}
                     /*------------погода----------
                     .weather-icon {
                        font-size: 44px;
                      }*/
                           


/*третий экран*/
.info {
	width: 100%;
	height: auto;
   min-height: 300px;
	margin-top: 100px;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
}
.imgaboutme {
	float: right;
	/*margin-left: 80px;*/
}

/*четвертый экран*/
.skills {
	width: 100%;
	height: auto;
   min-height: 300px;
	margin-top: 100px;
	text-align: center;
}
.skills li {
	margin-bottom: 1em;
	font-size: 22px;
}
/*пятый экран*/
.code {
	width: 100%;
	height: auto;
   min-height: 300px;
	margin-top: 100px;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
}
.imgcode {
	float: right;
	/*margin-left: 80px;*/
}
/*шестой экран*/
.experience {
	width: 100%;
	height: auto;
   min-height: 300px;
	margin-top: 100px;
	text-align: center;
	line-height: 40px;
}
.imgexperience {
	float: right;
	/*margin-left: 80px;*/
}
.experience li {
	margin-bottom: 1.5em;
	font-size: 22px;
	/*font-weight: bold;*/
}
/*седьмой экран*/
.education {
	width: 100%;
	height: auto;
   min-height: 300px;
	margin-top: 100px;
	text-align: center;
	line-height: 40px;
}
.imgeducation {
	float: right;
	/*margin-left: 80px;*/
}
.education li {
	font-size: 22px;
	/*font-weight: bold;*/
}
/*восьмой экран*/
.english {
	width: 100%;
	height: auto;
   min-height: 300px;
	margin-top: 100px;
	text-align: center;
	line-height: 40px;
	font-size: 22px;
}
.imgenglish {
	float: right;
	/*margin-left: 80px;*/
}

@media (min-width:650px) and (max-width: 790px) {
   .wraperbox {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
}
@media (max-width: 650px) {
   .place-time {
      background-color: rgba(241, 89, 18, 0.0);
      width: 140px;
      height: 40px;
      margin-right: 1%;
      margin-top: 2.5%;
      font-size: 13px;
   }
   .date {
      font-size: 18px;
   }
   .temperature {
      font-size: 10px;
   }
   .fotosize {
      width: 86vw;
      height: auto;
      max-height: 270px;
   }
   .boxname {
      /*display: flex;*/
      margin: 0px 0px 0px 0px;
   }
   .boxnav {
      padding: 0px 0px 0px 0px;
  }
}

/*------стили для js  ------*/

.fotosize {
   transition: filter 1s linear;
}
.blur {
   filter: blur(2px);
}


/*------стили для jquery--------*/

.target.anim{
   animation: rotate 0.5s ease-in-out;
   }
   @keyframes rotate{
   to{
   transform: rotate(360deg);
   }
   }

