/*-----стили для анимации------*/

           /*-----------Заголовки/Titles---------*/

.section-title.element-animation {
   opacity: 0;
   -webkit-transform: translateY(20px);
   -ms-transform: translateY(20px);
   transform: translateY(20px);
   -webkit-transition: all 1.5s;
   -o-transition: all 1.5s;
   transition: all 1.5s;
}

.section-title.element-animation.element-show {
   opacity: 1;
   -webkit-transform: translateY(0);
   -ms-transform: translateY(0);
   transform: translateY(0);
}


/*------------------картинки/images-------------------*/

.block-photo.element-animation {
   -webkit-transform: rotate(-5deg) scale(-0.05);
   -ms-transform: rotate(-5deg) scale(-0.05);
   transform: rotate(-5deg) scale(-0.05);
   -webkit-transition: -webkit-transform 1.5s;
   transition: -webkit-transform 1.5s;
   -o-transition: transform 1.5s;
   transition: transform 1.5s;
   transition: transform 1.5s, -webkit-transform 1.5s;
}

.block-photo.element-animation.element-show {
   -webkit-transform: rotate(0) scale(1);
   -ms-transform: rotate(1) scale(1);
   transform: rotate(1) scale(1);

}

/*----------текст с лева/text on the left-----------*/


.block-title.element-animation {
   opacity: 0;
   -webkit-transform: translateX(-30px);
   -ms-transform: translateX(-30px);
   transform: translateX(-30px);
   -webkit-transition: all 1.5s;
   -o-transition: all 1.5s;
   transition: all 1.5s;
}

.block-title.element-animation.element-show {
   opacity: 1;
   -webkit-transform: translateX(0);
   -ms-transform: translateX(0);
   transform: translateX(0);
}